In [1]:
import sys
print(sys.path)

['/Users/michelleng/Documents/Biobank/notebooks', '/private/var/folders/fl/2_tlvd8d3_z8t_8xgf3k_qvr0000gn/T/c90bcadc-c741-4580-89e8-c08127d12845', '/Users/michelleng/.vscode/extensions/ms-python.python-2020.5.78807/pythonFiles', '/Users/michelleng/.vscode/extensions/ms-python.python-2020.5.78807/pythonFiles/lib/python', '/Users/michelleng/opt/anaconda3/lib/python37.zip', '/Users/michelleng/opt/anaconda3/lib/python3.7', '/Users/michelleng/opt/anaconda3/lib/python3.7/lib-dynload', '', '/Users/michelleng/opt/anaconda3/lib/python3.7/site-packages', '/Users/michelleng/opt/anaconda3/lib/python3.7/site-packages/aeosa', '/Users/michelleng/opt/anaconda3/lib/python3.7/site-packages/IPython/extensions', '/Users/michelleng/.ipython']

# Hospitalisation events

# Packages

In [65]:
import pandas as pd 
import numpy as np 
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import pickle
%matplotlib inline

# Dataset

In [17]:
opcs3 = [0,] + list(range(7369,7395))

In [18]:
opcs4 = [0,] + list(range(6622, 6671)) + list(range(7401, 7449))

In [19]:
death = [0,  6579, 6580, 6581, 6582]

In [20]:
# secondary care
opcs3_df = pd.read_csv('../primary_care/ukb41199.csv', usecols = opcs3)

In [21]:
opcs4_df = pd.read_csv('../primary_care/ukb41199.csv', usecols = opcs4)

In [22]:
death_df = pd.read_csv('../primary_care/ukb41199.csv', usecols = death)

In [23]:
#primary care
pri_cli = pd.read_csv('../primary_care/gp_clinical.txt', sep = '\t', encoding='ISO-8859-1')

In [24]:
#admission code (pri)
adm_codes = pd.read_excel('../primary_care/admission.xlsx', sheet_name = "admission")

In [25]:
#death code (death)
death_codes = pd.read_excel('../primary_care/admission.xlsx', sheet_name = "death")

In [56]:
opcs3_code = pd.read_csv('../primary_care/opcs3.tsv', sep = '\t')

# Event coding

In [26]:
event = {
    'hospitalAdm' : {
        'read2': list(adm_codes[adm_codes['Condition']== 'Related Admission']['READV2_CODE']),
        'read3': list(adm_codes[adm_codes['Condition']== 'Related Admission']['READV3_CODE'])
    },
    'death' : {
        'read2': list(death_codes['READV2_CODE'].values),
        'read3': list(death_codes['READV3_CODE'].values)
    }, 
    'all' : {
        'read2': (list(adm_codes[adm_codes['Condition']== 'Related Admission']['READV2_CODE'])+list(death_codes['READV2_CODE'].values)),
        'read3': (list(adm_codes[adm_codes['Condition']== 'Related Admission']['READV3_CODE'])+list(death_codes['READV3_CODE'].values))
    }
}

In [74]:
#isolating codes from primary care
hospitalised = pri_cli[pri_cli['read_2'].isin(event['hospitalAdm']['read2'])| pri_cli['read_3'].isin(event['hospitalAdm']['read3'])]

In [30]:
opcs3_col = list(opcs3_df.columns)
opcs3_df.columns

Index(['eid', '41256-0.0', '41256-0.1', '41256-0.2', '41256-0.3', '41256-0.4',
       '41256-0.5', '41256-0.6', '41256-0.7', '41256-0.8', '41256-0.9',
       '41256-0.10', '41256-0.11', '41256-0.12', '41257-0.0', '41257-0.1',
       '41257-0.2', '41257-0.3', '41257-0.4', '41257-0.5', '41257-0.6',
       '41257-0.7', '41257-0.8', '41257-0.9', '41257-0.10', '41257-0.11',
       '41257-0.12'],
      dtype='object')

In [32]:
opcs3_col = [x.replace('41256', 'opcs3') for x in opcs3_col]

In [34]:
opcs3_col = [x.replace('41257', 'opcs3date') for x in opcs3_col]

In [36]:
opcs3_df.columns = opcs3_col

In [37]:
opcs4_col = list(opcs4_df.columns)

In [40]:
opcs4_col = [x.replace('41200', 'opcs4') for x in opcs4_col]

In [41]:
opcs4_col = [x.replace('41260', 'opcs4date') for x in opcs4_col]

In [42]:
opcs4_df.columns = opcs4_col

In [46]:
death_df.columns = ['eid', 'dod-0', 'dod-1', 'causedeath-0', 'causedeath-1']

In [52]:
opcs4_df[['eid', 'opcs4-0.0', 'opcs4date-0.0']]

            eid opcs4-0.0 opcs4date-0.0
0       1000019       NaN           NaN
1       1000022      G451    2013-12-28
2       1000035      C792    2014-12-09
3       1000046      Q075    1997-09-01
4       1000054      H513    2014-02-25
...         ...       ...           ...
502500  6025018      F094    1997-04-15
502501  6025023      D135    2014-05-28
502502  6025031      H206    2011-03-24
502503  6025040      G437    2007-11-20
502504  6025057      F021    2009-06-04

[502505 rows x 3 columns]

In [55]:
hospitalised

,eid,data_provider,event_dt,read_2,read_3,value1,value2,value3
10522,1000421,3,18/08/2008,NaN,8H21.,NaN,NaN,NaN
14747,1000568,3,30/11/2009,NaN,8H2..,NaN,NaN,NaN
14773,1000568,3,19/05/2010,NaN,8H2..,NaN,NaN,NaN
23822,1000713,3,29/04/2015,NaN,8H2..,NaN,NaN,NaN
27427,1000965,3,14/03/2004,NaN,8H2..,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
123600594,6022686,3,19/12/2010,NaN,8H2..,NaN,NaN,NaN
123602329,6022784,3,23/11/2004,NaN,8H2..,NaN,NaN,NaN
123603077,6022795,2,10/01/2015,8H2..,NaN,NaN,NaN,NaN
123606749,6022972,3,22/07/2014,NaN,XM01Y,NaN,NaN,NaN
123610603,6023164,3,26/01/2007,NaN,8H2..,NaN,NaN,NaN

In [64]:
opcs3_code.tail(50)

,coding,meaning,node_id,parent_id,selectable
1852,969,969 Other non-operative procedures,1869,15,Y
1853,9691,969.1 Other non-operative procedures : hypotherma,1870,15,Y
1854,9693,969.3 Other non-operative procedures : oxygen ...,1871,15,Y
1855,9694,969.4 Other non-operative procedures : electro...,1872,15,Y
1856,9695,969.5 Other non-operative procedures : other s...,1873,15,Y
1857,9696,969.6 Other non-operative procedures : oral ox...,1874,15,Y
1858,970,970 Local application,1875,15,Y
1859,971,971 Local injection,1876,15,Y
1860,972,"972 Nerve block, anaesthetic",1877,15,Y
1861,973,973 Spinal anaesthesia,1878,15,Y
1862,9731,973.1 Spinal anaesthesia : cauda equine,1879,15,Y
1863,9732,973.2 Spinal anaesthesia : epidural lumbar,1880,15,Y
1864,974,"974 Inhalation, not elsewhere classified",1881,15,Y
1865,9745,"974.5 Inhalation, not elsewhere classified : i...",1882,15,Y
1866,9746,"974.6 Inhalation, not elsewhere classified : i...",1883,15,Y
1867,977,977 Intravenous anaesthesia,1884,15,Y
1868,979,"979 Anaesthesia, not elsewhere classified",1885,15,Y
1869,980,980 Thyroid scanning,1886,15,Y
1870,981,981 Cerebral scanning,1887,15,Y
1871,986,986 Other radio-active scanning,1888,15,Y
1872,987,987 Other radiographic injection,1889,15,Y
1873,988,"988 Other radiographic techniques, not elsewhe...",1890,15,Y
1874,989,989 Other diagnostic techniques,1891,15,Y
1875,9891,989.1 Other diagnostic techniques: ultrasonic ...,1892,15,Y
1876,9892,989.2 Other diagnostic techniques: thermography,1893,15,Y
1877,990,990 Surface application,1894,15,Y
1878,991,991 Superficial irradiation,1895,15,Y
1879,992,992 High voltage irradiation,1896,15,Y
1880,993,993 Super-voltage irradiation,1897,15,Y
1881,994,994 Tele-radiotherapy,1898,15,Y
1882,9941,994.1 Tele-radiotherapy : particle irradiation...,1899,15,Y
1883,996,996 Removable surgical implant,1900,15,Y
1884,997,997 Non-removable surgical implant,1901,15,Y
1885,998,998 Radio-active injection or ingestion,1902,15,Y
1886,999,999 Unspecified radiotherapy,1903,15,Y
1887,Chapter I,Chapter I - Nervous system (001-050),1,0,N
1888,Chapter II,Chapter II - Endocrine glands (060-080),2,0,N
1889,Chapter III,Chapter III - Eye (100-180),3,0,N
1890,Chapter IV,"Chapter IV - Ear, nose and throat (190-240)",4,0,N
1891,Chapter IX,Chapter IX - Other abdominal organs (500-550),9,0,N
1892,Chapter V,Chapter V - Upper alimentary tract (250-280),5,0,N
1893,Chapter VI,Chapter VI - Thorax (290-340),6,0,N
1894,Chapter VII,Chapter VII - Breast (380-380),7,0,N
1895,Chapter VIII,Chapter VIII - Abdomen (400-490),8,0,N
1896,Chapter X,Chapter X - Urinary and male genital organs (5...,10,0,N
1897,Chapter XI,Chapter XI - Female genital organs (670-730),11,0,N
1898,Chapter XII,Chapter XII - Obstetrics (740-770),12,0,N
1899,Chapter XIII,Chapter XIII - Orthopaedic (780-870),13,0,N
1900,Chapter XIV,"Chapter XIV - Peripheral vessels, skin and sub...",14,0,N
1901,Chapter XV,Chapter XV - Other surgical procedures (941-990),15,0,N

In [62]:
opcs3_df['opcs3-0.0'].unique()

array([      nan, 7.042e+03, 9.140e+02, 7.816e+03, 7.040e+02, 1.632e+03,
       7.130e+02, 5.400e+02, 4.190e+02, 2.130e+02, 3.891e+03, 7.090e+02,
       2.310e+02, 6.512e+03, 3.811e+03, 9.130e+02, 4.310e+02, 4.011e+03,
       6.870e+02, 7.051e+03, 6.961e+03, 3.870e+02, 2.201e+03, 1.931e+03,
       5.641e+03, 6.330e+02, 8.931e+03, 8.480e+02, 9.120e+02, 1.942e+03,
       9.280e+02, 8.940e+02, 2.200e+01, 2.350e+02, 7.420e+02, 4.410e+02,
       7.421e+03, 4.802e+03, 6.080e+02, 1.952e+03, 2.510e+02, 2.440e+02,
       8.090e+02, 9.030e+02, 4.440e+02, 7.061e+03, 2.624e+03, 6.960e+02,
       9.160e+02, 7.050e+02, 7.001e+03, 9.790e+02, 7.100e+01, 7.002e+03,
       6.910e+02, 6.860e+02, 7.825e+03, 4.680e+02, 4.811e+03, 2.342e+03,
       8.910e+02, 6.270e+02, 7.052e+03, 9.940e+02, 2.194e+03, 5.220e+02,
       7.350e+02, 4.023e+03, 2.196e+03, 8.100e+02, 2.260e+02, 1.820e+02,
       3.390e+02, 7.391e+03, 2.562e+03, 2.300e+01, 8.281e+03, 8.930e+02,
       8.010e+02, 9.624e+03, 1.000e+00, 2.520e+02, 8.000e+02, 4.600e+02,
       4.850e+02, 5.680e+02, 7.942e+03, 9.100e+02, 2.521e+03, 8.200e+02,
       9.150e+02, 6.071e+03, 4.110e+02, 2.142e+03, 9.151e+03, 4.930e+02,
       7.000e+01, 7.080e+02, 4.311e+03, 8.457e+03, 9.640e+02, 2.810e+02,
       8.483e+03, 8.553e+03, 6.931e+03, 6.811e+03, 4.660e+02, 6.610e+02,
       7.430e+02, 4.950e+02, 1.934e+03, 6.840e+02, 2.430e+02, 2.271e+03,
       2.170e+02, 6.720e+02, 6.520e+02, 2.800e+01, 7.020e+02, 4.540e+02,
       4.800e+02, 2.150e+02, 6.591e+03, 2.000e+01, 1.450e+02, 2.573e+03,
       4.812e+03, 2.570e+02, 7.802e+03, 1.133e+03, 2.242e+03, 2.611e+03,
       4.020e+02, 6.081e+03, 2.160e+02, 7.711e+03, 1.910e+02, 6.180e+02,
       2.173e+03, 6.471e+03, 1.944e+03, 5.210e+02, 1.760e+02, 2.522e+03,
       8.210e+02, 7.850e+02, 9.110e+02, 8.004e+03, 4.021e+03, 4.100e+01,
       8.080e+02, 8.443e+03, 1.926e+03, 4.820e+02, 8.750e+02, 6.723e+03,
       3.050e+02, 2.700e+02, 4.360e+02, 7.150e+02, 2.221e+03, 8.221e+03,
       5.300e+01, 6.821e+03, 2.220e+02, 3.060e+02, 2.531e+03, 9.660e+02,
       6.462e+03, 7.310e+02, 3.400e+02, 6.480e+02, 7.807e+03, 2.011e+03,
       4.681e+03, 2.250e+02, 8.260e+02, 2.171e+03, 4.801e+03, 5.870e+02,
       8.941e+03, 4.430e+02, 3.362e+03, 3.801e+03, 2.261e+03, 1.663e+03,
       3.830e+02, 9.200e+01, 2.596e+03, 4.116e+03, 1.220e+02, 8.520e+02,
       4.300e+02, 2.940e+02, 3.043e+03, 8.932e+03, 6.190e+02, 6.401e+03,
       8.120e+02, 5.650e+02, 2.001e+03, 6.740e+02, 7.380e+02, 9.461e+03,
       8.002e+03, 7.940e+02, 6.440e+02, 1.933e+03, 4.010e+02, 8.160e+02,
       8.790e+02, 7.822e+03, 6.110e+02, 8.212e+03, 7.806e+03, 1.630e+02,
       6.260e+02, 2.290e+02, 3.821e+03, 8.310e+02, 6.183e+03, 8.423e+03,
       8.141e+03, 2.661e+03, 2.341e+03, 5.872e+03, 1.953e+03, 2.195e+03,
       4.920e+02, 6.490e+02, 3.820e+02, 8.011e+03, 3.303e+03, 6.630e+02,
       8.500e+01, 7.230e+02, 6.020e+02, 7.710e+02, 8.003e+03, 7.981e+03,
       7.826e+03, 6.461e+03, 8.250e+02, 6.600e+02, 2.112e+03, 1.020e+02,
       4.701e+03, 3.302e+03, 4.340e+02, 6.812e+03, 7.800e+02, 2.090e+02,
       6.832e+03, 6.690e+02, 2.754e+03, 1.943e+03, 1.030e+02, 2.020e+02,
       3.410e+02, 5.390e+02, 7.110e+02, 4.910e+02, 9.440e+02, 7.140e+02,
       8.755e+03, 7.422e+03, 3.862e+03, 2.850e+02, 9.200e+02, 1.100e+01,
       6.590e+02, 2.330e+02, 7.041e+03, 9.630e+02, 3.391e+03, 7.918e+03,
       2.050e+02, 4.080e+02, 7.320e+02, 8.770e+02, 6.185e+03, 2.575e+03,
       4.843e+03, 1.930e+02, 8.001e+03, 5.871e+03, 6.921e+03, 6.502e+03,
       6.500e+02, 7.920e+02, 2.461e+03, 2.580e+02, 6.001e+03, 7.200e+01,
       4.720e+02, 7.600e+01, 6.400e+02, 3.890e+02, 1.420e+02, 8.410e+02,
       1.130e+02, 2.110e+02, 2.702e+03, 5.661e+03, 1.680e+02, 2.710e+02,
       2.660e+02, 6.501e+03, 7.240e+02, 2.190e+02, 9.890e+02, 2.582e+03,
       6.410e+02, 6.831e+03, 4.261e+03, 1.730e+02, 8.453e+03, 1.230e+02,
       5.800e+02, 6.830e+02, 8.060e+02, 5.875e+03, 7.803e+03, 7.856e+03,
       5.873e+03, 8.270e+02, 8.900e+01, 7.824e+03, 7.120e+02, 1.212e+03,
       8.580e+02, 4.580e+02, 9.590e+02, 6.447e+03, 9.190e+02, 4.841e+03,
       9.520e+02, 7.160e+02, 1.400e+01, 4.500e+01, 4.630e+02, 3.861e+03,
       4.120e+02, 2.670e+02, 7.854e+03, 4.151e+03, 7.801e+03, 3.041e+03,
       2.021e+03, 8.200e+01, 1.440e+02, 7.891e+03, 9.230e+02, 5.010e+02,
       9.182e+03, 8.440e+02, 8.050e+02, 4.862e+03, 4.093e+03, 1.853e+03,
       4.940e+02, 5.632e+03, 2.140e+02, 3.142e+03, 5.631e+03, 2.750e+02,
       8.852e+03, 9.611e+03, 4.840e+02, 1.293e+03, 7.100e+02, 7.823e+03,
       7.300e+02, 9.210e+02, 9.050e+02, 1.745e+03, 5.000e+00, 3.881e+03,
       1.574e+03, 7.855e+03, 8.390e+02, 6.850e+02, 1.300e+01, 1.660e+02,
       3.364e+03, 2.552e+03, 7.390e+02, 1.700e+01, 1.170e+02, 7.852e+03,
       7.092e+03, 6.700e+01, 4.040e+02, 7.814e+03, 3.300e+02, 9.220e+02,
       5.711e+03, 8.487e+03, 4.790e+02, 6.893e+03, 4.992e+03, 1.941e+03,
       2.942e+03, 8.526e+03, 8.013e+03, 7.700e+02, 2.960e+02, 6.940e+02,
       4.601e+03, 4.350e+02, 8.413e+03, 9.650e+02, 2.080e+02, 4.000e+02,
       7.827e+03, 4.522e+03, 4.520e+02, 2.723e+03, 5.523e+03, 4.730e+02,
       1.320e+02, 7.982e+03, 8.321e+03, 2.711e+03, 3.882e+03, 2.200e+02,
       6.000e+02, 2.340e+02, 8.271e+03, 2.542e+03, 2.862e+03, 8.302e+03,
       8.320e+02, 7.820e+02, 2.331e+03, 6.510e+02, 9.860e+02, 7.821e+03,
       8.400e+01, 9.351e+03, 9.180e+02, 4.233e+03, 1.740e+02, 7.423e+03,
       2.210e+02, 1.512e+03, 4.620e+02, 3.483e+03, 7.060e+02, 6.030e+02,
       6.402e+03, 9.370e+02, 6.933e+03, 7.200e+02, 1.490e+02, 3.351e+03,
       4.013e+03, 1.134e+03, 4.500e+02, 6.470e+02, 7.910e+02, 2.390e+02,
       4.830e+02, 1.810e+02, 4.050e+02, 8.540e+02, 8.140e+02, 6.600e+01,
       8.062e+03, 3.042e+03, 2.262e+03, 1.700e+02, 8.012e+03, 1.132e+03,
       4.650e+02, 3.170e+02, 9.311e+03, 1.094e+03, 9.441e+03, 7.951e+03,
       7.804e+03, 4.700e+02, 8.040e+02, 7.210e+02, 9.240e+02, 7.847e+03,
       3.001e+03, 6.790e+02, 3.353e+03, 8.881e+03, 3.810e+02, 7.828e+03,
       8.660e+02, 8.450e+02, 5.611e+03, 4.062e+03, 2.630e+02, 1.720e+02,
       2.663e+03, 8.220e+02, 4.990e+02, 9.490e+02, 4.250e+02, 1.560e+02,
       2.910e+02, 5.660e+02, 6.050e+02, 8.950e+02, 2.470e+02, 3.171e+03,
       2.675e+03, 3.052e+03, 8.730e+02, 7.858e+03, 7.990e+02, 7.930e+02,
       4.002e+03, 2.991e+03, 2.010e+02, 9.290e+02, 8.523e+03, 2.900e+01,
       4.130e+02, 5.222e+03, 4.760e+02, 5.602e+03, 3.310e+02, 6.220e+02,
       4.600e+01, 6.090e+02, 9.641e+03, 3.880e+02, 2.240e+02, 8.543e+03,
       6.250e+02, 5.320e+02, 5.100e+01, 9.042e+03, 2.578e+03, 1.582e+03,
       7.830e+02, 5.900e+01, 2.753e+03, 1.924e+03, 8.420e+02, 5.954e+03,
       4.712e+03, 2.293e+03, 1.781e+03, 6.710e+02, 7.340e+02, 2.076e+03,
       3.330e+02, 3.440e+02, 8.280e+02, 6.200e+02, 6.472e+03, 4.030e+02,
       6.820e+02, 2.941e+03, 5.642e+03, 6.640e+02, 8.000e+00, 2.501e+03,
       4.091e+03, 4.860e+02, 6.721e+03, 2.890e+02, 7.030e+02, 8.100e+01,
       4.000e+00, 5.912e+03, 8.481e+03, 5.540e+02, 1.260e+02, 7.808e+03,
       7.431e+03, 3.290e+02, 5.530e+02, 4.270e+02, 2.460e+02, 7.201e+03,
       8.850e+02, 5.193e+03, 7.915e+03, 5.140e+02, 3.441e+03, 9.732e+03,
       2.701e+03, 1.592e+03, 2.441e+03, 9.530e+02, 1.122e+03, 5.640e+02,
       5.440e+02, 2.590e+02, 6.240e+02, 2.640e+02, 4.900e+02, 3.800e+02,
       7.460e+02, 1.600e+01, 6.460e+02, 6.822e+03, 2.820e+02, 1.211e+03,
       3.291e+03, 8.131e+03, 9.103e+03, 1.431e+03, 9.100e+01, 7.360e+02,
       1.340e+02, 4.092e+03, 2.677e+03, 2.120e+02, 1.637e+03, 7.630e+02,
       7.291e+03, 5.570e+02, 4.271e+03, 8.340e+02, 7.812e+03, 4.153e+03,
       1.391e+03, 4.022e+03, 2.860e+02, 3.432e+03, 2.332e+03, 5.633e+03,
       1.936e+03, 7.700e+01, 1.900e+02, 7.960e+02, 1.940e+02, 8.590e+02,
       1.661e+03, 7.846e+03, 3.093e+03, 3.630e+02, 5.500e+01, 1.650e+02,
       4.610e+02])

In [67]:
records = pd.read_pickle('../primary_care/records.pkl')

In [80]:
hospitalised['datetime'] = [ datetime.strptime(x, '%d/%m/%Y') if type(x) == str else np.nan for x in hospitalised['event_dt']]

In [81]:
hospital_rec = hospitalised.groupby('eid').agg(list).reset_index()

In [82]:
hospital_rec

,eid,data_provider,event_dt,read_2,read_3,value1,value2,value3,datetime
0,1000421,[3],[18/08/2008],[nan],[8H21.],[nan],[nan],[nan],[2008-08-18 00:00:00]
1,1000568,"[3, 3]","[30/11/2009, 19/05/2010]","[nan, nan]","[8H2.., 8H2..]","[nan, nan]","[nan, nan]","[nan, nan]","[2009-11-30 00:00:00, 2010-05-19 00:00:00]"
2,1000713,[3],[29/04/2015],[nan],[8H2..],[nan],[nan],[nan],[2015-04-29 00:00:00]
3,1000965,"[3, 3]","[14/03/2004, 06/12/2015]","[nan, nan]","[8H2.., 8H2..]","[nan, nan]","[nan, nan]","[nan, nan]","[2004-03-14 00:00:00, 2015-12-06 00:00:00]"
4,1002460,"[3, 3, 3, 3]","[25/11/2014, 28/11/2014, 28/11/2014, 03/01/2016]","[nan, nan, nan, nan]","[8H2.., 8H2.., 8H2.., 8H2..]","[nan, nan, nan, nan]","[nan, nan, nan, nan]","[nan, nan, nan, nan]","[2014-11-25 00:00:00, 2014-11-28 00:00:00, 201..."
...,...,...,...,...,...,...,...,...,...
17072,6022422,[3],[02/06/2014],[nan],[8H2..],[nan],[nan],[nan],[2014-06-02 00:00:00]
17073,6022686,[3],[19/12/2010],[nan],[8H2..],[nan],[nan],[nan],[2010-12-19 00:00:00]
17074,6022784,[3],[23/11/2004],[nan],[8H2..],[nan],[nan],[nan],[2004-11-23 00:00:00]
17075,6022795,[2],[10/01/2015],[8H2..],[nan],[nan],[nan],[nan],[2015-01-10 00:00:00]
17076,6023164,[3],[26/01/2007],[nan],[8H2..],[nan],[nan],[nan],[2007-01-26 00:00:00]

In [87]:
records

,eid,stroke,ha,date_diag,data_provider,event_dt,read_2,read_3,value1,value2,...,34-0.0,uniq_record_diag,sort_record,first_record_d,first_record_diag,first_stroke_after_d,yr_birth,noRecords,discrepancy,event_int
0,1000063,True,False,"[[09/01/2003, Stroke]]",NaN,NaN,NaN,NaN,NaN,NaN,...,1939.0,"[[09/01/2003, Stroke]]","[[2003-01-09 00:00:00, Stroke]]",2003-01-09,Stroke,NaT,1939-01-01,1,False,NaN
1,1000291,False,True,"[[23/07/2003, MI]]",NaN,NaN,NaN,NaN,NaN,NaN,...,1948.0,"[[23/07/2003, MI]]","[[2003-07-23 00:00:00, MI]]",2003-07-23,MI,NaT,1948-01-01,1,False,NaN
2,1000584,False,True,"[[05/11/1996, MI]]",NaN,NaN,NaN,NaN,NaN,NaN,...,1951.0,"[[05/11/1996, MI]]","[[1996-11-05 00:00:00, MI]]",1996-11-05,MI,NaT,1951-01-01,1,False,NaN
3,1001104,False,True,[[nan]],NaN,NaN,NaN,NaN,NaN,NaN,...,1938.0,[[nan]],[],NaT,NaN,NaT,1938-01-01,0,False,NaN
4,1001162,True,False,[[nan]],NaN,NaN,NaN,NaN,NaN,NaN,...,1947.0,[[nan]],[],NaT,NaN,NaT,1947-01-01,0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30521,6021699,NaN,NaN,[],"[3, 3]","[19/01/2012, 07/02/2012]","[nan, nan]","[XaINF, XaINF]","[nan, nan]","[nan, nan]",...,1949.0,"[[19/01/2012, MI], [07/02/2012, MI]]","[[2012-01-19 00:00:00, MI], [2012-02-07 00:00:...",2012-01-19,MI,NaT,1949-01-01,2,False,NaN
30522,6021968,NaN,NaN,[],[4],[02/06/2015],[G65..],[nan],[nan],[nan],...,1941.0,"[[02/06/2015, Stroke]]","[[2015-06-02 00:00:00, Stroke]]",2015-06-02,Stroke,NaT,1941-01-01,1,False,NaN
30523,6022686,NaN,NaN,[],"[3, 3, 3, 3, 3, 3]","[17/01/2011, 14/02/2011, 14/03/2011, 13/04/201...","[nan, nan, nan, nan, nan, nan]","[XE2aB, XE2aB, XE2aB, XE2aB, XE2aB, XE2aB]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]",...,1954.0,"[[11/05/2011, Stroke], [21/05/2012, Stroke], [...","[[2011-01-17 00:00:00, Stroke], [2011-02-14 00...",2011-01-17,Stroke,2011-02-14,1954-01-01,6,False,0.919937
30524,6022831,NaN,NaN,[],[3],[01/07/2005],[nan],[XE0VK],[nan],[nan],...,1939.0,"[[01/07/2005, Stroke]]","[[2005-07-01 00:00:00, Stroke]]",2005-07-01,Stroke,NaT,1939-01-01,1,False,NaN
30525,6023090,NaN,NaN,[],[3],[29/07/2005],[nan],[XE2uV],[nan],[nan],...,1939.0,"[[29/07/2005, CAD]]","[[2005-07-29 00:00:00, CAD]]",2005-07-29,CAD,NaT,1939-01-01,1,False,NaN

In [125]:
hosp = []
hosp_delta = []

for i in range(len(records['sort_record'])):
    
    hosp_stat = [] # accumulating individual patient's list of hospitalisation

    # if eid has a record
    if (len(hospital_rec[hospital_rec ['eid'] == records.iloc[i]['eid']]) == 1) == True:
        # iterate through the individual patient's record
        for j in range(len(records.iloc[i]['sort_record'])):

            idx = records.iloc[i]['eid']
            a = records.iloc[i]['sort_record'][j][0]

            b = hospital_rec[hospital_rec['eid']==idx]['datetime'].values

            for k in range(len(b)):
                timediff = a - b[0][k]
                
                # if patient's date matches within 7 days of hospitalisation date
                if timediff.days < 7 & timediff.days > (-7)  : 
                    hosp_stat.append('H')
                else:
                    hosp_stat.append(np.nan)
        hosp.append(hosp_stat)
    else:
        hosp.append([np.nan])

In [127]:
records['hospitalisation'] = hosp

In [129]:
death

[0, 6579, 6580, 6581, 6582]

In [130]:
#isolating codes from primary care
dead = pri_cli[pri_cli['read_2'].isin(event['death']['read2'])| pri_cli['read_3'].isin(event['death']['read3'])]

In [133]:
dead_id = dead.groupby('eid').agg(list).reset_index()

In [134]:
dead_id['deathstat'] = 1

In [135]:
dead_id

,eid,data_provider,event_dt,read_2,read_3,value1,value2,value3,deathstat
0,1002572,"[3, 3]","[30/06/2015, 30/06/2015]","[nan, nan]","[XM01Y, XaCJB]","[nan, nan]","[nan, nan]","[nan, nan]",1
1,1004098,[3],[17/04/2014],[nan],[XM01Y],[nan],[nan],[nan],1
2,1006885,[3],[14/06/2016],[nan],[XM01Y],[nan],[nan],[nan],1
3,1007044,[3],[27/02/2015],[nan],[XM01Y],[nan],[nan],[nan],1
4,1008117,[3],[29/07/2013],[nan],[XM01Y],[nan],[nan],[nan],1
...,...,...,...,...,...,...,...,...,...
3252,6016484,[3],[06/08/2012],[nan],[XM01Y],[nan],[nan],[nan],1
3253,6017668,[3],[25/06/2015],[nan],[XM01Y],[nan],[nan],[nan],1
3254,6020339,[3],[03/04/2013],[nan],[XM01Y],[nan],[nan],[nan],1
3255,6021388,[3],[29/04/2010],[nan],[XM01Y],[nan],[nan],[nan],1
3256,6022972,[3],[22/07/2014],[nan],[XM01Y],[nan],[nan],[nan],1

In [139]:
dead_summ = dead_id[['eid', 'event_dt', 'deathstat']]

In [149]:
dead_summ.columns = ['eid', 'deathdate', 'deathstat']

In [150]:
records2 = pd.merge(records, dead_summ, how= 'left', on = ['eid', 'eid'] )

In [151]:
records2

,eid,stroke,ha,date_diag,data_provider,event_dt,read_2,read_3,value1,value2,...,first_record_d,first_record_diag,first_stroke_after_d,yr_birth,noRecords,discrepancy,event_int,hospitalisation,deathdate,deathstat
0,1000063,True,False,"[[09/01/2003, Stroke]]",NaN,NaN,NaN,NaN,NaN,NaN,...,2003-01-09,Stroke,NaT,1939-01-01,1,False,NaN,[nan],NaN,NaN
1,1000291,False,True,"[[23/07/2003, MI]]",NaN,NaN,NaN,NaN,NaN,NaN,...,2003-07-23,MI,NaT,1948-01-01,1,False,NaN,[nan],NaN,NaN
2,1000584,False,True,"[[05/11/1996, MI]]",NaN,NaN,NaN,NaN,NaN,NaN,...,1996-11-05,MI,NaT,1951-01-01,1,False,NaN,[nan],NaN,NaN
3,1001104,False,True,[[nan]],NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaT,1938-01-01,0,False,NaN,[nan],NaN,NaN
4,1001162,True,False,[[nan]],NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaT,1947-01-01,0,False,NaN,[nan],NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30521,6021699,NaN,NaN,[],"[3, 3]","[19/01/2012, 07/02/2012]","[nan, nan]","[XaINF, XaINF]","[nan, nan]","[nan, nan]",...,2012-01-19,MI,NaT,1949-01-01,2,False,NaN,[nan],NaN,NaN
30522,6021968,NaN,NaN,[],[4],[02/06/2015],[G65..],[nan],[nan],[nan],...,2015-06-02,Stroke,NaT,1941-01-01,1,False,NaN,[nan],NaN,NaN
30523,6022686,NaN,NaN,[],"[3, 3, 3, 3, 3, 3]","[17/01/2011, 14/02/2011, 14/03/2011, 13/04/201...","[nan, nan, nan, nan, nan, nan]","[XE2aB, XE2aB, XE2aB, XE2aB, XE2aB, XE2aB]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]",...,2011-01-17,Stroke,2011-02-14,1954-01-01,6,False,0.919937,"[nan, nan, nan, nan, nan, nan]",NaN,NaN
30524,6022831,NaN,NaN,[],[3],[01/07/2005],[nan],[XE0VK],[nan],[nan],...,2005-07-01,Stroke,NaT,1939-01-01,1,False,NaN,[nan],NaN,NaN
30525,6023090,NaN,NaN,[],[3],[29/07/2005],[nan],[XE2uV],[nan],[nan],...,2005-07-29,CAD,NaT,1939-01-01,1,False,NaN,[nan],NaN,NaN

In [152]:
records2['nohosp'] = [x.count('H') for x in records2['hospitalisation']]

In [161]:
records2

,eid,stroke,ha,date_diag,data_provider,event_dt,read_2,read_3,value1,value2,...,first_record_diag,first_stroke_after_d,yr_birth,noRecords,discrepancy,event_int,hospitalisation,deathdate,deathstat,nohosp
0,1000063,True,False,"[[09/01/2003, Stroke]]",NaN,NaN,NaN,NaN,NaN,NaN,...,Stroke,NaT,1939-01-01,1,False,NaN,[nan],NaN,NaN,0
1,1000291,False,True,"[[23/07/2003, MI]]",NaN,NaN,NaN,NaN,NaN,NaN,...,MI,NaT,1948-01-01,1,False,NaN,[nan],NaN,NaN,0
2,1000584,False,True,"[[05/11/1996, MI]]",NaN,NaN,NaN,NaN,NaN,NaN,...,MI,NaT,1951-01-01,1,False,NaN,[nan],NaN,NaN,0
3,1001104,False,True,[[nan]],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,1938-01-01,0,False,NaN,[nan],NaN,NaN,0
4,1001162,True,False,[[nan]],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,1947-01-01,0,False,NaN,[nan],NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30521,6021699,NaN,NaN,[],"[3, 3]","[19/01/2012, 07/02/2012]","[nan, nan]","[XaINF, XaINF]","[nan, nan]","[nan, nan]",...,MI,NaT,1949-01-01,2,False,NaN,[nan],NaN,NaN,0
30522,6021968,NaN,NaN,[],[4],[02/06/2015],[G65..],[nan],[nan],[nan],...,Stroke,NaT,1941-01-01,1,False,NaN,[nan],NaN,NaN,0
30523,6022686,NaN,NaN,[],"[3, 3, 3, 3, 3, 3]","[17/01/2011, 14/02/2011, 14/03/2011, 13/04/201...","[nan, nan, nan, nan, nan, nan]","[XE2aB, XE2aB, XE2aB, XE2aB, XE2aB, XE2aB]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]",...,Stroke,2011-02-14,1954-01-01,6,False,0.919937,"[nan, nan, nan, nan, nan, nan]",NaN,NaN,0
30524,6022831,NaN,NaN,[],[3],[01/07/2005],[nan],[XE0VK],[nan],[nan],...,Stroke,NaT,1939-01-01,1,False,NaN,[nan],NaN,NaN,0
30525,6023090,NaN,NaN,[],[3],[29/07/2005],[nan],[XE2uV],[nan],[nan],...,CAD,NaT,1939-01-01,1,False,NaN,[nan],NaN,NaN,0

In [172]:
records2['deathstat'].isnull().value_counts()

True     29709
False      817
Name: deathstat, dtype: int64

In [155]:
records2.to_pickle('../primary_care/records2.pkl')